    body{
height: 100vh;
display: flex;
color: white ;
align-items: center;
justify-content: center;
background-color: black;
perspective: 800px;
}

p{
font-size: 5rem;
}

span{
     display: inline-block;
     font-size:  4.375rem;
     animation: rotateY 3s linear infinite;
     color: red;
}

@keyframes rotateY{
0%{
  transform: rotateY(0deg);
}
100%{
  transform: rotateY(360deg);
}
}

  
  